@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#first-column,
#second-column,
#third-column {
  flex-direction: column;
  width: 100%;
}

@font-face {
  font-family: 'ActoRegular';
  src: url('/fonts/Acto-Book.otf') format('opentype');
}

.font-acto-reg {
  font-family: 'ActoRegular', sans-serif;
}

@font-face {
  font-family: 'Acto';
  src: url('/fonts/Acto-SemiBold.otf') format('opentype');
}

.font-acto {
  font-family: 'Acto', sans-serif;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'LatoBold';
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
}

.font-lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

@keyframes customBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes customFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes customFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.one-time-bounce {
  animation: customBounce 2s 1;
  animation-delay: 2s;
}

.one-time-fade-in {
  animation: customFadeIn 0.3s 1;
}

.one-time-fade-out {
  animation: customFadeOut 0.2s 1;
}

.banner-transition {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease-out, transform 3s ease-out;
}

.banner-transition {
  opacity: 1;
  transform: translateY(0);
}

* {
  -webkit-font-smoothing: antialiased;
}

/* Banner.module.css */
@media screen and (max-width: 768px) {
  .smallScreenMaxWidth {
    max-width: 200vw;
    background-size: 200vw 100vh;
    background-position-x: -50vw !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .smallScreenMaxWidth {
    max-width: 200vw;
    background-size: 200vw 100vh;
    background-position-x: -50vw !important;
    background-size: cover !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1580px) {
  .smallScreenMaxWidth {
    max-width: 200vw;
    background-size: 200vw 100vh;
    background-position-x: 0vw !important;
    background-size: cover !important;
  }
}
