@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#first-column,
#second-column,
#third-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
